# Extract_Data

Il faut que organiser vos datas en DATA/DATA_0 DATA/DATA_1
Il faut changer la deuxième case en XBT ou ETH selon ce que vous voulez

In [230]:
coin = 'XBT'

In [231]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [232]:
df_btc = pd.read_csv(f'data/raw/DATA_0/{coin}_EUR.csv')

In [233]:
def preprocessing_vectorized(df):
    df = df.copy()
    n = len(df)
    block_size = 20

    # Créer un ID de bloc : 0,0,...,1,1,...,2,2,...
    df['row_id'] = np.repeat(np.arange((n + block_size - 1) // block_size), block_size)[:n]

    # Facultatif : aligner timestamp par bloc
    df['timestamp'] = df.groupby('row_id')['timestamp'].transform('max')

    return df

In [234]:
df = preprocessing_vectorized(df_btc)

In [235]:
# cf les doublons d'avant
dups = df.duplicated(subset=['timestamp', 'row_id', 'level', 'side'], keep=False)
print(df[dups])

            price    volume     timestamp side  level  row_id
245688    96128.5  0.016160  1.748489e+09  bid      2   12284
245689    96157.0  0.016506  1.748489e+09  ask      1   12284
245690    96170.9  0.004125  1.748489e+09  ask      1   12284
245691    96178.9  0.000075  1.748489e+09  bid      2   12284
245707    96123.5  0.270000  1.748489e+09  bid      3   12285
...           ...       ...           ...  ...    ...     ...
17125309  96090.3  3.724149  1.748522e+09  ask      1  856265
17125310  96090.8  2.299324  1.748522e+09  ask      1  856265
17125319  96100.0  0.027433  1.748522e+09  bid     10  856265
17125329  96090.3  3.724149  1.748522e+09  ask      1  856266
17125330  96090.8  2.299324  1.748522e+09  ask      1  856266

[4336 rows x 6 columns]

In [236]:
df_clean = df[~dups]

In [237]:
df_wide = df_clean.pivot(index=['timestamp', 'row_id'], columns=['level', 'side'], values=['price', 'volume'])

In [238]:
df_wide

                       price                                               \
level                     10       9        8        7        6        5
side                     bid      bid      bid      bid      bid      bid
timestamp    row_id
1.748488e+09 0       96185.1  96188.0  96189.3  96198.1  96198.6  96202.3
             1       96185.1  96188.0  96189.3  96198.1  96198.6  96202.3
             2       96185.1  96188.0  96189.3  96198.1  96198.6  96202.3
             3       96185.1  96188.0  96189.3  96198.1  96198.6  96202.3
             4       96185.1  96188.0  96189.3  96198.1  96198.6  96202.3
...                      ...      ...      ...      ...      ...      ...
1.748523e+09 880092  95754.3  95754.8  95757.2  95759.4  95762.3  95762.5
             880088  95754.8  95757.2  95759.4  95762.3  95762.5  95764.0
             880089  95757.2  95759.4  95762.3  95762.5  95764.0  95765.2
             880090  95754.8  95757.2  95759.4  95762.3  95762.5  95765.2
             880091  95754.8  95757.2  95759.4  95762.3  95762.5  95765.2

                                                         ...    volume  \
level                     4        3        2        1   ...        1
side                     bid      bid      bid      bid  ...       ask
timestamp    row_id                                      ...
1.748488e+09 0       96203.5  96204.4  96205.7  96207.1  ...  0.128429
             1       96203.5  96204.4  96205.7  96207.1  ...  0.128429
             2       96203.5  96204.4  96205.7  96207.1  ...  0.128429
             3       96203.5  96204.4  96205.7  96207.1  ...  0.128429
             4       96203.5  96204.4  96205.7  96207.1  ...  0.128429
...                      ...      ...      ...      ...  ...       ...
1.748523e+09 880092  95765.2  95768.3  95769.5  95772.0  ...  0.529792
             880088  95765.2  95768.3  95769.5  95772.0  ...  0.529792
             880089  95768.3  95769.5  95770.5  95772.0  ...  0.529792
             880090  95768.3  95769.5  95770.5  95772.0  ...  0.529792
             880091  95768.3  95769.5  95770.5  95772.0  ...  0.529792

                                                                       \
level                      2         3         4         5         6
side                      ask       ask       ask       ask       ask
timestamp    row_id
1.748488e+09 0       2.310392  2.310367  2.310314  2.702965  0.020000
             1       2.310367  2.310314  2.702965  0.020000  2.310191
             2       2.310367  2.310314  2.702965  0.020000  4.620382
             3       2.310367  2.310314  2.702965  0.020000  2.310191
             4       2.310398  2.310367  2.310314  2.702965  0.020000
...                       ...       ...       ...       ...       ...
1.748523e+09 880092  2.303304  2.303271  0.829401  0.046011  2.303208
             880088  2.303331  2.303304  2.303271  0.829401  0.046011
             880089  2.303331  2.303304  2.303271  0.829401  0.046011
             880090  2.303331  2.303304  2.303271  0.829401  0.046011
             880091  2.303304  2.303271  0.829401  0.046011  2.303208


level                      7         8         9         10
side                      ask       ask       ask       ask
timestamp    row_id
1.748488e+09 0       2.310191  0.071820  2.310007  0.046109
             1       0.071820  2.310007  0.046109  0.532268
             2       0.071820  2.310007  0.046109  0.532268
             3       0.071820  2.310007  0.046109  0.532268
             4       2.310191  0.071820  2.310007  0.046109
...                       ...       ...       ...       ...
1.748523e+09 880092  2.303188  0.024107  2.303060  1.149986
             880088  2.303208  2.303188  0.024107  2.303060
             880089  2.303208  2.303188  0.024107  2.303060
             880090  2.303208  2.303188  0.024107  2.303060
             880091  2.303188  0.024107  2.303060  1.149986

[880093 rows x 40 columns]

In [239]:
# Aplatir le multi-index en format souhaité
df_wide.columns = [
    f"level-{int(level)}-{side}-{var}"
    for var, level, side in df_wide.columns.tolist()
]

In [240]:
df_wide

                     level-10-bid-price  level-9-bid-price  level-8-bid-price  \
timestamp    row_id
1.748488e+09 0                  96185.1            96188.0            96189.3
             1                  96185.1            96188.0            96189.3
             2                  96185.1            96188.0            96189.3
             3                  96185.1            96188.0            96189.3
             4                  96185.1            96188.0            96189.3
...                                 ...                ...                ...
1.748523e+09 880092             95754.3            95754.8            95757.2
             880088             95754.8            95757.2            95759.4
             880089             95757.2            95759.4            95762.3
             880090             95754.8            95757.2            95759.4
             880091             95754.8            95757.2            95759.4

                     level-7-bid-price  level-6-bid-price  level-5-bid-price  \
timestamp    row_id
1.748488e+09 0                 96198.1            96198.6            96202.3
             1                 96198.1            96198.6            96202.3
             2                 96198.1            96198.6            96202.3
             3                 96198.1            96198.6            96202.3
             4                 96198.1            96198.6            96202.3
...                                ...                ...                ...
1.748523e+09 880092            95759.4            95762.3            95762.5
             880088            95762.3            95762.5            95764.0
             880089            95762.5            95764.0            95765.2
             880090            95762.3            95762.5            95765.2
             880091            95762.3            95762.5            95765.2

                     level-4-bid-price  level-3-bid-price  level-2-bid-price  \
timestamp    row_id
1.748488e+09 0                 96203.5            96204.4            96205.7
             1                 96203.5            96204.4            96205.7
             2                 96203.5            96204.4            96205.7
             3                 96203.5            96204.4            96205.7
             4                 96203.5            96204.4            96205.7
...                                ...                ...                ...
1.748523e+09 880092            95765.2            95768.3            95769.5
             880088            95765.2            95768.3            95769.5
             880089            95768.3            95769.5            95770.5
             880090            95768.3            95769.5            95770.5
             880091            95768.3            95769.5            95770.5

                     level-1-bid-price  ...  level-1-ask-volume  \
timestamp    row_id                     ...
1.748488e+09 0                 96207.1  ...            0.128429
             1                 96207.1  ...            0.128429
             2                 96207.1  ...            0.128429
             3                 96207.1  ...            0.128429
             4                 96207.1  ...            0.128429
...                                ...  ...                 ...
1.748523e+09 880092            95772.0  ...            0.529792
             880088            95772.0  ...            0.529792
             880089            95772.0  ...            0.529792
             880090            95772.0  ...            0.529792
             880091            95772.0  ...            0.529792

                     level-2-ask-volume  level-3-ask-volume  \
timestamp    row_id
1.748488e+09 0                 2.310392            2.310367
             1                 2.310367            2.310314
             2                 2.310367            2.310314
             3                 2.310367            2.310314
             4                 2.310398            2.310367
...                                 ...                 ...
1.748523e+09 880092            2.303304            2.303271
             880088            2.303331            2.303304
             880089            2.303331            2.303304
             880090            2.303331            2.303304
             880091            2.303304            2.303271

                     level-4-ask-volume  level-5-ask-volume  \
timestamp    row_id
1.748488e+09 0                 2.310314            2.702965
             1                 2.702965            0.020000
             2                 2.702965            0.020000
             3                 2.702965            0.020000
             4                 2.310314            2.702965
...                                 ...                 ...
1.748523e+09 880092            0.829401            0.046011
             880088            2.303271            0.829401
             880089            2.303271            0.829401
             880090            2.303271            0.829401
             880091            0.829401            0.046011

                     level-6-ask-volume  level-7-ask-volume  \
timestamp    row_id
1.748488e+09 0                 0.020000            2.310191
             1                 2.310191            0.071820
             2                 4.620382            0.071820
             3                 2.310191            0.071820
             4                 0.020000            2.310191
...                                 ...                 ...
1.748523e+09 880092            2.303208            2.303188
             880088            0.046011            2.303208
             880089            0.046011            2.303208
             880090            0.046011            2.303208
             880091            2.303208            2.303188

                     level-8-ask-volume  level-9-ask-volume  \
timestamp    row_id
1.748488e+09 0                 0.071820            2.310007
             1                 2.310007            0.046109
             2                 2.310007            0.046109
             3                 2.310007            0.046109
             4                 0.071820            2.310007
...                                 ...                 ...
1.748523e+09 880092            0.024107            2.303060
             880088            2.303188            0.024107
             880089            2.303188            0.024107
             880090            2.303188            0.024107
             880091            0.024107            2.303060

                     level-10-ask-volume
timestamp    row_id
1.748488e+09 0                  0.046109
             1                  0.532268
             2                  0.532268
             3                  0.532268
             4                  0.046109
...                                  ...
1.748523e+09 880092             1.149986
             880088             2.303060
             880089             2.303060
             880090             2.303060
             880091             1.149986

[880093 rows x 40 columns]

In [241]:
'''

# Un plot qui vous permet de voir la distribution des timestamps

timestamps = df_wide.index.get_level_values('timestamp')
counts = timestamps.value_counts().sort_index()

# Échantillon aléatoire de 50 timestamps
counts_sample = counts.sample(50, random_state=42).sort_index()

# Plot
plt.figure(figsize=(12, 5))
counts_sample.plot(kind='bar')

plt.title("Nombre de row_id (échantillon) par timestamp")
plt.xlabel("Timestamp (sample)")
plt.ylabel("Nombre de row_id (snapshots)")
plt.grid(True, linestyle='--', alpha=0.5)
plt.tight_layout()
plt.show()

'''

'\n\n# Un plot qui vous permet de voir la distribution des timestamps\n\ntimestamps = df_wide.index.get_level_values(\'timestamp\')\ncounts = timestamps.value_counts().sort_index()\n\n# Échantillon aléatoire de 50 timestamps\ncounts_sample = counts.sample(50, random_state=42).sort_index()\n\n# Plot\nplt.figure(figsize=(12, 5))\ncounts_sample.plot(kind=\'bar\')\n\nplt.title("Nombre de row_id (échantillon) par timestamp")\nplt.xlabel("Timestamp (sample)")\nplt.ylabel("Nombre de row_id (snapshots)")\nplt.grid(True, linestyle=\'--\', alpha=0.5)\nplt.tight_layout()\nplt.show()\n\n'

In [ ]:
df_wide.to_csv(f"data/preprocessed/{coin}_EUR_PREPROCESSING.csv", index=True)